@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;0,900;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    display: flex;
    background-color: #0067f4;
    height: 50em;
}

.content-container {
    margin-top: 10em;
    margin-left: 4em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.content-container h1 {
    font-weight: bold 800;
    margin-bottom: 0;
}

button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5em;
    font-size: 18px;
    font-weight: 500;
}

button:hover {
    background-color: white;
    color: #0067f4;
}


























